{{#if inspections }}
<div class="aoux-pt-strip">
  <ul class="fsa-list--inline fsa-m--none fsa-text-align--center">
    <li>
      <strong>Filter</strong>
      <button data-prototype-show="#pt__filter-alt-1" data-prototype-hide="#pt__filter-alt-2" type="button">1</button>
      <button data-prototype-show="#pt__filter-alt-2" data-prototype-hide="#pt__filter-alt-1" type="button">2</button>
    </li>
    <li>
      <strong>Progress</strong>
      <button data-prototype-show="#pt__progress-alt-1" data-prototype-hide="#pt__progress-alt-2" type="button">1</button>
      <button data-prototype-show="#pt__progress-alt-2" data-prototype-hide="#pt__progress-alt-1" type="button">2</button>
    </li>
  </ul>
  <!-- <div class="yo" title="Click to close">
  &darr; &darr; &darr; &darr; Yo, down here &darr; &darr; &darr; &darr;
</div> -->
</div>
{{/if}}

{{#if settings }}
<div class="aoux-pt-strip">
  <ul class="fsa-list--inline fsa-m--none fsa-text-align--center">
    <li>
      <strong>(TBD)</strong>
    </li>
  </ul>
</div>
{{/if}}
