<div class="fsa-tophat">
  <div class="fsa-tophat__bd">
    <div class="fsa-tophat__secondary">
      <span class="fsa-tophat__subagency">
        <a class="fsa-tophat__link" href="//linkedin.com/in/bignamehere" title="Link to LinkedIn Profile">LinkedIn Profile</a>
      </span>
    </div>
  </div>
</div>
